body {
    background-color:#ffffff;
    margin: 0;
    padding: 0;
    height:100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
	position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header > h4 {
    font-family: sans-serif;
    color: black;
    font-weight: bolder;
    margin: 0;
    padding-right: 200px;
    padding-top: 10px;
}

#ulstyle {
  list-style-type:none;
  text-align: center;
  margin: 0;
  padding-left: 200px;
}

ul > li {
    font-size: 15px;
    margin-top: 12px;
    margin: 0;
    padding-top: 10px;
    padding-right: 20px;
    float: left;
}

li > a {
    font-family: sans-serif ;
    color: black;
    text-decoration: none;
    float:left;
    display:block;
}

a:hover {
    text-shadow: 0 0 1px black;
    text-shadow: 0 0 1px black, 0 0 1px black;
}

li.active a {
    font-weight: bolder;
    text-decoration: underline;
}

/* Header above */

form {
	position:absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input {
	border:none;
	border-bottom:2px solid black;
	padding-top:20px;
}

label {
	font-size:15px;
	left:0;
}

button, input[type="submit"] {
	background: none;
	color: inherit;
	border: 2px solid black;
	padding:10px;
	margin-top:15px;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}


