body {
    background-color:#ffffff;
    margin: 0;
    padding: 0;
    height:100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
	position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header > h4 {
    font-family: sans-serif;
    color: black;
    font-weight: bolder;
    margin: 0;
    padding-right: 200px;
    padding-top: 10px;
}

#ulstyle {
  list-style-type:none;
  text-align: center;
  margin: 0;
  padding-left: 200px;
}

ul > li {
    font-size: 15px;
    margin-top: 12px;
    margin: 0;
    padding-top: 10px;
    padding-right: 20px;
    float: left;
}

li > a {
    font-family: sans-serif ;
    color: black;
    text-decoration: none;
    float:left;
    display:block;
}

a:hover {
    text-shadow: 0 0 1px black;
    text-shadow: 0 0 1px black, 0 0 1px black;
}

li.active a {
    font-weight: bolder;
    text-decoration: underline;
}

*,
*:before,
*:after{
  box-sizing: border-box;
}

#wrapper{
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
}

#wrapper > a {
  display: inline-block;
  width: 200px;
  height: 40px;
  text-indent: -9999px;
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transform-style: preserve-3d;
  transition: all .35s;
}

#wrapper > a:before,
#wrapper > a:after{
  position: absolute;
  content: attr(data-field);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 2px solid #333;
  text-indent: 0;
  transition: all .35s;
}

#wrapper > a:before{
  color: #fff;
  background: #333;
  transform-origin: left;
  transform: translateX(0) rotateY(0deg);
}

#wrapper > a:after{
  color: #333;
  background: #fff;
  transform: translateX(-100%) rotateY(90deg);
  transform-origin: right;
}

#wrapper > a:hover:before{
  transform: translateX(100%) rotateY(90deg);
}

#wrapper > a:hover:after{
  transform: translateX(0) rotateY(0deg);
}

h3 {
	top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
}